<section
  class="w-full bg-cover bg-center bg-no-repeat"
  [style.backgroundImage]="'url(../../../assets/images/heroServices.jpg)'"
>
  <div
    class="max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm m-auto lg:px-6 px-3"
  >
    <div class="flex h-[600px] max-sm:h-[700px] w-full items-center text-white">
      <div class="space-y-5 w-[600px]">
        <div class="flex space-x-4">
          <img src="../../../assets/svg/star.svg" alt="" />
          <p class="text-sm">HACKA'PRESS</p>
        </div>
        <h2 class="text-7xl">Nos Services</h2>
        <p class="text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
          vitae! Nobis quis labore voluptate, iusto laborum voluptas! Laborum
          aliquid voluptas, saepe distinctio enim, optio repudiandae accusantium
          expedita velit, nesciunt dicta.
        </p>
      </div>
    </div>
  </div>
</section>
