<section
  class="w-full bg-cover bg-center bg-no-repeat"
  [style.backgroundImage]="'url(/assets/images/heroServices.webp)'"
>
  <div
    class="m-auto max-w-screen-xl px-3 max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6"
  >
    <div class="flex h-[600px] w-full items-center text-white max-sm:h-[700px]">
      <div class="w-[600px] space-y-5">
        <div class="flex space-x-4">
          <img src="/assets/svg/star.svg" alt="1 étoile" loading="lazy" />
          <p class="text-sm">HACKA'PRESS</p>
        </div>
        <h2 class="text-7xl">Nos Services</h2>
        <p class="text-justify">
          Découvrez nos prestations sur mesure pour répondre à tous vos besoins
          en pressing. Que vous cherchiez un repassage impeccable, un nettoyage
          en profondeur, ou des retouches précises, notre équipe de
          professionnels s'assure de la qualité et de la satisfaction. Chaque
          service est conçu pour offrir un soin optimal à vos vêtements, avec
          une attention particulière aux détails et une rapidité d'exécution
        </p>
      </div>
    </div>
  </div>
</section>
