<section class="max-w-screen-xl lg:px-6 px-3 m-auto">
  <div class="flex h-[600px] w-full justify-center items-center bg-text">
    <div class="space-y-10">
      <div class="space-y-4">
        <div class="flex space-x-4">
          <img src="../../../assets/svg/star.svg" alt="">
          <h1 class="text-sm">HACKA'PRESS</h1>
        </div>
        <p class="text-7xl">
          Services De <br />
          <span class="text-neutral-500">Nettoyage</span> Pour <br />
          Tous Vos Besoins
        </p>
      </div>
      <div class="text-neutral-500">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
          ducimus sed quos ex nostrum. Doloremque, incidunt sed quis doloribus
          voluptatibus in suscipit dignissimos necessitatibus exercitationem
          accusamus perferendis et minima ex.
        </p>
      </div>
      <div class="space-x-4">
        <a href="" class="p-4 bg-black text-white rounded-full transition-all shadow-md hover:shadow-black/60">Nos Services</a>
        <a href="">Comment ça marche ?</a>
      </div>
    </div>
    <div class="flex-1"></div>
  </div>
</section>
