<section
  class="max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto"
>
  <div
    class="flex h-[600px] max-sm:h-[700px] w-full justify-center items-center bg-text"
  >
    <div class="space-y-10 w-[800px]">
      <div class="space-y-4">
        <div class="flex space-x-4">
          <img src="/assets/svg/star.svg" loading="lazy" alt="1 étoile" width="15" height="20" />
          <p class="text-sm">HACKA'PRESS</p>
        </div>
        <p class="text-7xl max-sm:text-6xl">
          Services De <br />
            <span class="text-neutral-500">{{ displayedText }}</span>
          Pour <br />
          Tous Vos Besoins
        </p>
      </div>
      <div class="text-neutral-500">
        <p class="text-justify">
          Découvrez nos services sur mesure pour répondre à tous vos besoins.
          Que ce soit pour vos vêtements du quotidien ou vos pièces les plus
          délicates, notre expertise garantit un soin impeccable et un résultat
          irréprochable à chaque fois.
        </p>
      </div>
      <div class="space-x-4">
        <app-button content="Nos Services" link="/services"></app-button>
        <a href="">Comment ça marche ?</a>
      </div>
    </div>
    <div class="flex-1"></div>
  </div>
</section>
