<header class="sticky top-0 bg-white shadow-lg">
  <div
    class="flex max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto h-20 text-black items-center"
  >
    <div class="flex">
      <a routerLink="/" class="text-4xl max-sm:text-3xl font-semibold"
        >hacka'press</a
      >
    </div>
    <div class="flex-1"></div>

    <div class="sm:hidden">
      <button class="navbar-burger flex items-center p-3">
        <svg
          class="block h-6 w-6 hover:fill-neutral-500 transition-all"
          viewBox="0 0 20 20"
        >
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <!-- Responsive Menu -->
    <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
      >
        <div class="flex items-center mb-8 justify-end">
          <button class="navbar-close">
            <svg
              class="h-6 w-6 text-black cursor-pointer hover:text-gray-500 transition-all"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
        <div>
          <ul class="space-y-4">
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                routerLink="/"
                >Accueil</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                routerLink="services"
                >Services</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                routerLink="products"
                >Produits</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                routerLink="/"
                >Contact</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                routerLink="/"
                >Panier</a
              >
            </li>
          </ul>
        </div>
        <div class="mt-auto">
          <div *ngIf="!user" class="pt-6">
            <a
              class="block px-4 py-3 mb-3 text-center font-semibold leading-none bg-neutral-100 hover:bg-neutral-200 rounded-xl transition-all"
              routerLink="/"
              >S'inscrire</a
            >
            <a
              class="block px-4 py-3 mb-2 leading-loose text-center text-white font-semibold bg-black rounded-xl"
              routerLink="/"
              >Se Connecter</a
            >
          </div>
        </div>
      </nav>
    </div>

    <div class="flex max-sm:hidden">
      <ul class="flex gap-3 me-4">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="services">Services</a></li>
        <li><a routerLink="products">Produits</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="flex-1 max-sm:hidden"></div>

    <div class="flex space-x-4 items-center max-sm:hidden">
      <a routerLink="/cart">
        <img src="assets/svg/cart.svg" alt="Cart" />
      </a>
      <a routerLink="/profile"
        ><img src="assets/svg/user.svg" alt="User"
      /></a>
    </div>
  </div>
</header>