<header class="sticky top-0 bg-white shadow-lg">
  <div
    class="flex max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto h-20 text-black items-center"
  >
    <div class="flex items-center space-x-5">
      <a routerLink="/" class="text-4xl max-sm:text-3xl font-semibold"
        >hacka'press</a
      >
      <ul class="flex space-x-3 me-4">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="services">Services</a></li>
      </ul>
    </div>

    <div class="flex-1"></div>

    <div class="flex space-x-4 items-center max-sm:size-90">
      <a routerLink="/cart">
        <img src="assets/svg/cart.svg" alt="Cart" />
      </a>
      <a routerLink="/profile"><img src="assets/svg/user.svg" alt="User" /></a>
      <p class="cursor-pointer" *ngIf="user" (click)="logout()"><img src="assets/svg/logout.svg" alt="Logout" /></p>
    </div>
  </div>
</header>