<footer class="bg-black text-white">
  <section
    class="m-auto flex max-w-screen-xl justify-center px-3 text-center max-lg:max-w-screen-md max-md:max-w-screen-sm sm:text-start lg:px-6"
  >
    <div
      class="space-y-10 border-b-2 border-white py-12 lg:flex lg:space-x-5 lg:space-y-0 lg:text-center"
    >
      <div class="max-sm:space-y-8 sm:flex">
        <div class="space-y-4 lg:text-start">
          <a href="/" class="text-4xl font-semibold">hacka'press</a>
          <p>
            Le pressing qui simplifie votre quotidien avec des vêtements
            impeccables.
          </p>
          <div class="flex justify-center space-x-4 sm:justify-start">
            <a href="/" class=""
              ><img
                src="/assets/svg/yt.svg"
                alt="Youtube"
                width="44"
                height="44"
                class="mb-2"
            /></a>
            <a href="/" class=""
              ><img
                src="/assets/svg/tweeter.svg"
                loading="lazy"
                alt="Tweeter"
                width="44"
                height="44"
            /></a>
            <a href="/" class=""
              ><img
                src="/assets/svg/insta.svg"
                loading="lazy"
                alt="Instagram"
                width="44"
                height="44"
            /></a>
          </div>
        </div>

        <div class="space-y-4">
          <h2 class="text-2xl">Navigation</h2>
          <ul class="space-y-2">
            <li><a routerLink="/">Accueil</a></li>
            <li><a routerLink="/services">Services</a></li>
          </ul>
        </div>
      </div>

      <div class="max-sm:space-y-8 sm:flex sm:space-x-10">
        <div class="space-y-4">
          <h2 class="text-2xl">Services</h2>
          <ul class="space-y-2">
            <li><a routerLink="/services">Nettoyage</a></li>
            <li><a routerLink="/services">Repassage</a></li>
            <li><a routerLink="/services">Retouche</a></li>
          </ul>
        </div>

        <div class="space-y-4 lg:text-start">
          <h2 class="text-2xl">Contactez-nous</h2>
          <ul class="space-y-2">
            <li>
              Notre équipe de support et de vente est disponible 24/7 pour
              répondre à vos demandes.
            </li>
            <li>123 Rue Principale, Bureau 500, Paris, 75001</li>
            <li>06 06 06 06 06</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section
    class="m-auto flex max-w-screen-xl px-3 py-4 text-center text-xs max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6"
  >
    <div class="flex space-x-2">
      <p class="border-e-2 border-white pe-2">COPYRIGHT © 2024 YOU-DEV</p>
      <a href="https://github.com/Younesasn" class="underline decoration-solid"
        >DEVELOPED BY YOU-DEV</a
      >
    </div>
    <div class="flex-1"></div>
    <div class="flex space-x-2">
      <p class="border-e-2 border-white pe-2">TERM OF USE</p>
      <p>PRIVACY POLICY</p>
    </div>
  </section>
</footer>
