<footer class="bg-black text-white">
  <section
    class="flex max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto text-center justify-center sm:text-start"
  >
    <div
      class="border-white border-b-2 space-y-10 py-12 lg:flex lg:space-y-0 lg:space-x-5 lg:text-center"
    >
      <div class="sm:flex max-sm:space-y-8">
        <div class="space-y-4 lg:text-start">
          <a href="/" class="text-4xl font-semibold">hacka'press</a>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
            nihil commodi architecto iusto.
          </p>
          <div class="flex space-x-4 justify-center sm:justify-start">
            <a href="/" class=""><img src="../assets/svg/yt.svg" alt="" /></a>
            <a href="/" class=""
              ><img src="../assets/svg/tweeter.svg" alt=""
            /></a>
            <a href="/" class=""
              ><img src="../assets/svg/insta.svg" alt=""
            /></a>
          </div>
        </div>

        <div class="space-y-4">
          <h2 class="text-2xl">Navigation</h2>
          <ul class="space-y-2">
            <li>Accueil</li>
            <li>Services</li>
            <li>Produits</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>

      <div class="sm:flex sm:space-x-10 max-sm:space-y-8">
        <div class="space-y-4">
          <h2 class="text-2xl">Services</h2>
          <ul class="space-y-2">
            <li>Service</li>
            <li>Service</li>
            <li>Service</li>
            <li>Service</li>
          </ul>
        </div>

        <div class="space-y-4 lg:text-start">
          <h2 class="text-2xl">Contactez-nous</h2>
          <ul class="space-y-2">
            <li>
              Our Support and Sales team is available 24 /7 to answer your
              queries
            </li>
            <li>123 Main St, Suite 500, New York, NY 10001</li>
            <li>06 06 06 06 06</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section
    class="flex max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto py-4 text-xs text-center"
  >
    <div class="flex space-x-2">
      <p class="border-white border-e-2 pe-2">COPYRIGHT © 2024 YOU-DEV</p>
      <p>DESIGN BY YOU-DEV</p>
    </div>
    <div class="flex-1"></div>
    <div class="flex space-x-2">
      <p class="border-white border-e-2 pe-2">TERM OF USE</p>
      <p>PRIVACY POLICY</p>
    </div>
  </section>
</footer>
