<section
  class="max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 py-3 m-auto"
>
  <div class="flex justify-center items-center">
    <h1 class="text-5xl font-semibold p-5">Panier</h1>
  </div>
  <div class="flex">
    <div class="flex flex-[2] w-full">
      <!-- Card -->
    </div>
    <div class="flex-[1] bg-black text-white p-9 rounded-lg text-center">
      <div class="pb-2">
        <h3 class="text-xl">Résumé de votre panier</h3>
      </div>
      <div
        class="flex justify-between py-4 border-b-2 border-dashed border-white"
      >
        <p>Sous-total :</p>
        <p>19.99 €</p>
      </div>
      <div
        class="flex justify-between py-4 border-b-2 border-dashed border-white"
      >
        <p>Frais de service :</p>
        <p>5.99 €</p>
      </div>
      <div
        class="flex justify-between py-4 border-b-2 border-dashed border-white"
      >
        <p class="text-lg">Total :</p>
        <p>24.99 €</p>
      </div>
      <a
        href=""
        class="flex text-black py-2 mt-5 bg-white justify-center rounded-md w-full"
      >
        Paiement
      </a>
    </div>
  </div>
</section>
