<main
  *ngIf="!cart || cart.length === 0"
  class="grid h-screen place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8"
>
  <div class="text-center">
    <h1
      class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
    >
      Panier vide
    </h1>
    <p class="mt-6 text-base leading-7 text-gray-600">
      Vous n'avez pas encore de panier, ajoutez nos services à votre panier !
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        routerLink="/services"
        class="rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >Retour aux services</a
      >
    </div>
  </div>
</main>

<section
  *ngIf="cart"
  class="m-auto max-w-screen-xl px-3 py-3 max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6"
>
  <div class="flex items-center justify-center">
    <h1 class="p-5 text-5xl font-semibold">Panier</h1>
  </div>
  <div class="mt-8 flex gap-6 max-lg:flex-col">
    <div class="flex w-full flex-[2]">
      <!-- Card -->
      <div
        class="col-span-12 w-full pb-8 max-xl:mx-auto max-xl:max-w-3xl lg:pr-8 xl:col-span-8"
      >
        <div
          class="grid grid-cols-12 border-b border-gray-200 pb-6 max-md:hidden"
        >
          <div class="col-span-12 md:col-span-7">
            <p class="text-lg font-normal leading-8 text-gray-400">Service</p>
          </div>
          <div class="col-span-12 md:col-span-5">
            <div class="grid grid-cols-5">
              <div class="col-span-3">
                <p
                  class="text-center text-lg font-normal leading-8 text-gray-400"
                >
                  Quantité
                </p>
              </div>
              <div class="col-span-2">
                <p class="text-end text-lg font-normal leading-8 text-gray-400">
                  Total
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngFor="let item of cart"
          class="group flex flex-col gap-5 border-b border-gray-200 py-6 min-[500px]:flex-row min-[500px]:items-center"
        >
          <div class="w-full md:max-w-[126px]">
            <img
              [src]="urlImage + item.picture"
              [alt]="item.picture + 'image'"
              class="mx-auto rounded-md"
              loading="lazy"
            />
          </div>
          <div class="grid w-full grid-cols-1 md:grid-cols-4">
            <div class="md:col-span-2">
              <div
                class="flex flex-col gap-3 max-sm:text-center max-[500px]:items-center"
              >
                <h6 class="text-base font-semibold leading-7 text-black">
                  {{ item.service.name }}
                </h6>
                <ul>
                  <li class="text-base font-normal text-gray-500">
                    {{ item.product.name }}
                  </li>
                  <li class="text-sm font-normal text-gray-500">
                    {{ item.matter.name }}
                  </li>
                </ul>
                <h6
                  class="text-base font-medium leading-7 text-gray-600 transition-all duration-300"
                >
                  {{ item.price / item.quantity | currency: "EUR" }}
                </h6>
                <div
                  class="cursor-pointer text-sm font-normal text-gray-400 underline decoration-solid"
                  (click)="deleteItem(item)"
                >
                  Supprimer
                </div>
              </div>
            </div>
            <div
              class="flex h-full items-center justify-center max-md:mt-3 max-[500px]:justify-center"
            >
              <div class="flex h-full items-center">
                {{ item.quantity }}
              </div>
            </div>
            <div
              class="flex h-full items-center max-md:mt-3 max-[500px]:justify-center md:justify-end"
            >
              <p
                class="text-center text-lg font-bold leading-8 text-gray-600 transition-all duration-300"
              >
                {{ item.price | currency: "EUR" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
      <div class="flow-root">
        <div class="divide-text-zinc-200 -my-3 divide-y">
          <dl class="flex items-center justify-between gap-4 py-3">
            <dt class="text-base font-normal text-zinc-500">Sous-total</dt>
            <dd class="text-base font-medium text-zinc-900">
              {{ total | currency: "EUR" }}
            </dd>
          </dl>

          <dl class="flex items-center justify-between gap-4 py-3">
            <dt class="text-base font-normal text-zinc-500">
              Frais de service
            </dt>
            <dd class="text-base font-medium text-zinc-900">
              {{ taxes | currency: "EUR" }}
            </dd>
          </dl>

          <dl class="flex items-center justify-between gap-4 py-3">
            <dt class="text-base font-bold text-zinc-900">Total</dt>
            <dd class="text-base font-bold text-zinc-900">
              {{ total + taxes | currency: "EUR" }}
            </dd>
          </dl>
        </div>
      </div>

      <div class="space-y-3">
        <a
          routerLink="/payment"
          class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
          *ngIf="isLogged"
        >
          Paiment
        </a>
        <a
          routerLink="/login"
          class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
          *ngIf="!isLogged"
        >
          Se Connecter
        </a>
      </div>
    </div>
  </div>
</section>
