<main class="">
  <header
    class="flex max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto h-20 text-black items-center"
  >
    <div class="flex">
      <a href="/" class="text-4xl max-sm:text-3xl font-semibold">hacka'press</a>
    </div>
    <div class="flex-1"></div>

    <div class="sm:hidden">
      <button class="navbar-burger flex items-center p-3">
        <svg
          class="block h-6 w-6 hover:fill-neutral-500 transition-all"
          viewBox="0 0 20 20"
        >
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
      >
        <div class="flex items-center mb-8 justify-end">
          <button class="navbar-close">
            <svg
              class="h-6 w-6 text-black cursor-pointer hover:text-gray-500 transition-all"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
        <div>
          <ul class="space-y-4">
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                href="#"
                >Accueil</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                href="/services"
                >Services</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                href="#"
                >Produits</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                href="#"
                >Contact</a
              >
            </li>
            <li>
              <a
                class="block p-4 text-sm font-semibold text-black hover:bg-neutral-50 hover:text-neutral-600 rounded-lg transition-all"
                href="#"
                >Panier</a
              >
            </li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6">
            <a
              class="block px-4 py-3 mb-3 text-center font-semibold leading-none bg-neutral-100 hover:bg-neutral-200 rounded-xl transition-all"
              href="#"
              >S'inscrire</a
            >
            <a
              class="block px-4 py-3 mb-2 leading-loose text-center text-white font-semibold bg-black rounded-xl"
              href="#"
              >Se Connecter</a
            >
          </div>
        </div>
      </nav>
    </div>

    <div class="flex max-sm:hidden">
      <div>
        <ul class="flex gap-3 me-4">
          <li><a href="">Accueil</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="">Produits</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div>
        <a
          href=""
          class="bg-black text-white px-4 py-3 rounded-full transition-all shadow-md hover:shadow-black/60"
          >Panier</a
        >
      </div>
    </div>
  </header>
  <!-- Breakpoints -->
  <div
    class="flex items-center m-2 fixed bottom-0 right-0 border border-black rounded p-2 bg-black text-white text-sm"
  >
    <svg
      class="h-6 w-auto inline"
      viewBox="0 0 80 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill="url(#paint0_linear)"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32 16C24.8 16 20.3 19.6 18.5 26.8C21.2 23.2 24.35 21.85 27.95 22.75C30.004 23.2635 31.4721 24.7536 33.0971 26.4031C35.7443 29.0901 38.8081 32.2 45.5 32.2C52.7 32.2 57.2 28.6 59 21.4C56.3 25 53.15 26.35 49.55 25.45C47.496 24.9365 46.0279 23.4464 44.4029 21.7969C41.7557 19.1099 38.6919 16 32 16ZM18.5 32.2C11.3 32.2 6.8 35.8 5 43C7.7 39.4 10.85 38.05 14.45 38.95C16.504 39.4635 17.9721 40.9536 19.5971 42.6031C22.2443 45.2901 25.3081 48.4 32 48.4C39.2 48.4 43.7 44.8 45.5 37.6C42.8 41.2 39.65 42.55 36.05 41.65C33.996 41.1365 32.5279 39.6464 30.9029 37.9969C28.2557 35.3099 25.1919 32.2 18.5 32.2Z"
      ></path>
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="3.5"
          y1="16"
          x2="59"
          y2="48"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#2298BD"></stop>
          <stop offset="1" stop-color="#0ED7B5"></stop>
        </linearGradient>
      </defs>
    </svg>
    <span class="ml-1 sm:hidden md:hidden lg:hidden xl:hidden"
      >default (&lt; 640px)</span
    >
    <span class="ml-1 hidden sm:inline md:hidden font-extrabold">SM</span>
    <span class="ml-1 hidden md:inline lg:hidden font-extrabold">MD</span>
    <span class="ml-1 hidden lg:inline xl:hidden font-extrabold">LG</span>
    <span class="ml-1 hidden xl:inline font-extrabold">XL</span>
  </div>

  <router-outlet />

  <footer class="bg-black text-white">
    <section
      class="flex max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto text-center justify-center sm:text-start"
    >
      <div class="border-white border-b-2 space-y-10 py-12 lg:flex lg:space-y-0 lg:space-x-5 lg:text-center">
        <div class="sm:flex max-sm:space-y-8">
          <div class="space-y-4 lg:text-start">
            <a href="/" class="text-4xl font-semibold">hacka'press</a>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
              nihil commodi architecto iusto.
            </p>
            <div class="flex space-x-4 justify-center sm:justify-start">
              <a href="/" class=""><img src="../assets/svg/yt.svg" alt="" /></a>
              <a href="/" class=""
                ><img src="../assets/svg/tweeter.svg" alt=""
              /></a>
              <a href="/" class=""
                ><img src="../assets/svg/insta.svg" alt=""
              /></a>
            </div>
          </div>

          <div class="space-y-4">
            <h2 class="text-2xl">Navigation</h2>
            <ul class="space-y-2">
              <li>Accueil</li>
              <li>Services</li>
              <li>Produits</li>
              <li>Contact</li>
            </ul>
          </div>
        </div>

        <div class="sm:flex sm:space-x-10 max-sm:space-y-8">
          <div class="space-y-4">
            <h2 class="text-2xl">Services</h2>
            <ul class="space-y-2">
              <li>Service</li>
              <li>Service</li>
              <li>Service</li>
              <li>Service</li>
            </ul>
          </div>

          <div class="space-y-4 lg:text-start">
            <h2 class="text-2xl">Contactez-nous</h2>
            <ul class="space-y-2">
              <li>
                Our Support and Sales team is available 24 /7 to answer your
                queries
              </li>
              <li>123 Main St, Suite 500, New York, NY 10001</li>
              <li>06 06 06 06 06</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section
      class="flex max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto py-4 text-xs text-center"
    >
      <div class="flex space-x-2">
        <p class="border-white border-e-2 pe-2">COPYRIGHT © 2024 YOU-DEV</p>
        <p>DESIGN BY YOU-DEV</p>
      </div>
      <div class="flex-1"></div>
      <div class="flex space-x-2">
        <p class="border-white border-e-2 pe-2">TERM OF USE</p>
        <p>PRIVACY POLICY</p>
      </div>
    </section>
  </footer>
  <!-- <footer class="bg-black text-white">
    <section class="flex max-w-screen-xl lg:px-6 px-3 m-auto">
      <div class="border-white border-b-2 flex py-12 space-x-12">
        <div class="space-y-4">
          <a href="/" class="text-4xl font-semibold">hacka'press</a>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
            nihil commodi architecto iusto.
          </p>
          <div class="flex space-x-4">
            <a href="/" class=""><img src="../assets/svg/yt.svg" alt="" /></a>
            <a href="/" class=""
              ><img src="../assets/svg/tweeter.svg" alt=""
            /></a>
            <a href="/" class=""
              ><img src="../assets/svg/insta.svg" alt=""
            /></a>
          </div>
        </div>
        <div class="space-y-4">
          <h2 class="text-2xl">Navigation</h2>
          <ul class="space-y-2">
            <li>Accueil</li>
            <li>Services</li>
            <li>Produits</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="space-y-4">
          <h2 class="text-2xl">Services</h2>
          <ul class="space-y-2">
            <li>Service</li>
            <li>Service</li>
            <li>Service</li>
            <li>Service</li>
          </ul>
        </div>
        <div class="space-y-4">
          <h2 class="text-2xl">Contactez-nous</h2>
          <ul class="space-y-2">
            <li>
              Our Support and Sales team is available 24 /7 to answer your
              queries
            </li>
            <li>123 Main St, Suite 500, New York, NY 10001</li>
            <li>06 06 06 06 06</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="flex max-w-screen-xl lg:px-6 px-3 m-auto py-4 text-xs">
      <div class="flex space-x-2">
        <p class="border-white border-e-2 pe-2">COPYRIGHT © 2024 YOU-DEV</p>
        <p>DESIGN BY YOU-DEV</p>
      </div>
      <div class="flex-1"></div>
      <div class="flex space-x-2">
        <p class="border-white border-e-2 pe-2">TERM OF USE</p>
        <p>PRIVACY POLICY</p>
      </div>
    </section>
  </footer> -->
</main>
