<section>
  <div
    class="m-auto flex h-[1000px] max-w-screen-xl items-center px-3 max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6"
  >
    <div class="grid grid-cols-2 items-center max-lg:grid-cols-1">
      <img
        src="/assets/images/chaise.webp"
        alt="Chaise"
        class="rounded-2xl max-lg:hidden"
        width="400"
        height="400"
        loading="lazy"
      />
      <div class="space-y-5">
        <div class="flex space-x-4">
          <img
            src="/assets/svg/star.svg"
            width="24"
            height="24"
            alt="Flèche"
            loading="lazy"
          />
          <p class="text-sm">POURQUOI NOUS ?</p>
        </div>
        <h2 class="text-5xl max-lg:text-4xl">
          Offrir des Services de
          <span class="text-neutral-500">{{ displayedText }}</span> Amicaux et
          Fiables
        </h2>
        <p>
          Desservant plus de
          <span class="text-neutral-500" [countUp]="4000"></span> clients par
          mois.
        </p>
        <div class="flex items-start space-x-4">
          <img
            src="/assets/svg/arrow.svg"
            width="24"
            height="24"
            alt="Flèche"
            class="mt-[5px]"
            loading="lazy"
          />
          <div class="space-y-3">
            <h3 class="text-2xl max-lg:text-xl">Service de haute qualité</h3>
            <p class="text-justify">
              Nous nous engageons à fournir un service impeccable pour chaque
              article, en utilisant des techniques de pointe et des équipements
              modernes. Que vous ayez besoin de repasser des chemises de travail
              ou des vêtements délicats, notre attention aux détails garantit un
              résultat soigné à chaque fois.
            </p>
          </div>
        </div>
        <div class="flex items-start space-x-4">
          <img
            src="/assets/svg/arrow.svg"
            width="24"
            height="24"
            alt="Flèche"
            class="mt-[5px]"
            loading="lazy"
          />
          <div class="space-y-3">
            <h3 class="text-2xl max-lg:text-xl">
              Personnel formé et professionnel
            </h3>
            <p class="text-justify">
              Notre équipe de professionnels qualifiés est formée pour traiter
              tous types de tissus avec le plus grand soin. Chaque membre de
              notre personnel s'engage à offrir un service rapide et précis,
              tout en veillant à la satisfaction complète de nos clients.
            </p>
          </div>
        </div>
        <div class="flex items-start space-x-4">
          <img
            src="/assets/svg/arrow.svg"
            width="24"
            height="24"
            alt="Flèche"
            class="mt-[5px]"
            loading="lazy"
          />
          <div class="space-y-3">
            <h3 class="text-2xl max-lg:text-xl">Service Client Exceptionnel</h3>
            <p class="text-justify">
              Votre satisfaction est notre priorité. Notre service client est
              disponible pour répondre à toutes vos questions et s'assurer que
              votre expérience avec nous soit des plus agréables. Nous nous
              efforçons de dépasser vos attentes à chaque étape du processus, du
              dépôt à la livraison.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
