<section>
  <div
    class="max-w-screen-xl lg:px-6 px-3 m-auto h-[820px] flex justify-center items-center"
  >
    <div class="space-y-14">
      <div class="space-y-6">
        <div class="flex space-x-4 justify-center">
          <img src="../../../assets/svg/star.svg" alt="" />
          <p class="text-sm">TÉMOIGNAGES</p>
        </div>
        <div class="flex space-y-4 justify-center">
          <h2 class="text-5xl">Écoutez ce que nos clients disent</h2>
        </div>
        <div class="flex space-y-4 text-center justify-center">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente,
            quidem aliquam debitis aut qui impedit possimus.
          </p>
        </div>
      </div>
      <div class="flex space-x-6">
        <div class="bg-neutral-100 text-neutral-500 p-11 space-y-6 rounded-2xl">
          <div class="flex space-x-3 items-center">
            <div class="h-14 w-14 rounded-full bg-black"></div>
            <h3 class="text-black">Tiakola</h3>
          </div>
          <img src="../../../assets/svg/stars.svg" alt="" />
          <p class="text-justify">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
            deserunt libero ducimus sunt laboriosam placeat magni harum, facilis
            praesentium.""
          </p>
        </div>
        <div class="flex-1"></div>
        <div class="bg-neutral-100 text-neutral-500 p-11 space-y-6 rounded-2xl">
          <div class="flex space-x-3 items-center">
            <div class="h-14 w-14 rounded-full bg-black"></div>
            <h3 class="text-black">Prototype</h3>
          </div>
          <img src="../../../assets/svg/stars.svg" alt="" />
          <p class="text-justify">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
            deserunt libero ducimus sunt laboriosam placeat magni harum, facilis
            praesentium."
          </p>
        </div>
        <div class="flex-1"></div>
        <div class="bg-neutral-100 text-neutral-500 p-11 space-y-6 rounded-2xl">
          <div class="flex space-x-3 items-center">
            <div class="h-14 w-14 rounded-full bg-black"></div>
            <h3 class="text-black">Genezio</h3>
          </div>
          <img src="../../../assets/svg/stars.svg" alt="" />
          <p class="text-justify">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
            deserunt libero ducimus sunt laboriosam placeat magni harum, facilis
            praesentium."
          </p>
        </div>
      </div>
      <div class="space-y-6">
        <div class="flex space-y-4 justify-center">
          <h2 class="text-3xl">Approuvés par +50k de Clients</h2>
        </div>
        <div class="flex space-x-5 text-center justify-center items-center">
            <img src="../../../assets/svg/stars.svg" alt="" class="w-40">
          <p class="text-2xl text-neutral-500">
            4.4/5 • 3,841 Commentaires
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
