<section class="bg-neutral-100">
  <div class="flex h-[1800px] items-center justify-center px-3 md:h-[1200px]">
    <div class="space-y-14">
      <div class="space-y-6 text-center">
        <div class="flex justify-center space-x-4">
          <img
            src="assets/svg/star.svg"
            loading="lazy"
            alt="Étoile"
            width="15"
            height="20"
          />
          <p class="text-sm font-semibold">NOTRE TEAM</p>
        </div>
        <div class="flex justify-center space-y-4">
          <h2 class="text-5xl max-sm:text-4xl">Rencontrez Notre Team</h2>
        </div>
      </div>

      <div class="grid justify-center space-y-10">
        <div class="space-y-10 md:flex md:space-x-10 md:space-y-0">
          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                alt="image de Bernard"
                src="assets/images/bernard.webp"
                class="h-full w-full rounded-t-2xl object-cover object-top"
                loading="lazy"
              />
            </div>
            <div class="border-neutral-200 px-8 py-4">
              <div class="mb-2 text-xl">Bernard</div>
              <p class="text-base text-neutral-500">Cleaning Supervisor</p>
            </div>
          </div>

          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                alt="image de Bernadette"
                src="assets/images/bernadette.webp"
                class="h-full w-full rounded-t-2xl object-cover object-top"
                loading="lazy"
              />
            </div>
            <div class="border-neutral-200 px-8 py-4">
              <div class="mb-2 text-xl">Bernadette</div>
              <p class="text-base text-neutral-500">Cleaning Supervisor</p>
            </div>
          </div>
        </div>

        <div class="space-y-10 md:flex md:space-x-10 md:space-y-0">
          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                alt="image de James"
                src="assets/images/james.webp"
                class="h-full w-full rounded-t-2xl object-cover object-top"
                loading="lazy"
              />
            </div>
            <div class="border-neutral-200 px-8 py-4">
              <div class="mb-2 text-xl">James</div>
              <p class="text-base text-neutral-500">Cleaning Supervisor</p>
            </div>
          </div>

          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                alt="image de Aya"
                src="assets/images/aya.webp"
                class="h-full w-full rounded-t-2xl object-cover object-center"
                loading="lazy"
              />
            </div>
            <div class="border-neutral-200 px-8 py-4">
              <div class="mb-2 text-xl">Aya</div>
              <p class="text-base text-neutral-500">Cleaning Supervisor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
