<section class="bg-neutral-100">
  <div
    class="max-w-screen-xl lg:px-6 px-3 m-auto h-[800px] flex justify-center items-center"
  >
    <div class="space-y-14">
      <div class="space-y-6">
        <div class="flex space-x-4 justify-center">
          <img src="../../../assets/svg/star.svg" alt="" />
          <p class="text-sm font-semibold">NOTRE TEAM</p>
        </div>
        <div class="flex space-y-4 justify-center">
          <h2 class="text-5xl">Rencontrez Notre Team</h2>
        </div>
      </div>
      <div class="flex justify-center space-x-6">
        <div class="w-72 rounded-2xl bg-white">
          <div class="h-64 w-full bg-black rounded-t-2xl"></div>
          <div class="px-8 py-4 border-b border-neutral-200 ">
            <div class="text-xl mb-2">James</div>
            <p class="text-neutral-500 text-base">
              Cleaning Supervisor
            </p>
          </div>
          <div class="px-6 py-4">
            <a href="">+ Follow</a>
          </div>
        </div>

        <div class="w-72 rounded-2xl bg-white">
            <div class="h-64 w-full bg-black rounded-t-2xl"></div>
            <div class="px-8 py-4 border-b border-neutral-200 ">
              <div class="text-xl mb-2">Bernard</div>
              <p class="text-neutral-500 text-base">
                Fondateur
              </p>
            </div>
            <div class="px-6 py-4">
              <a href="">+ Follow</a>
            </div>
          </div>

          <div class="w-72 rounded-2xl bg-white">
            <div class="h-64 w-full bg-black rounded-t-2xl"></div>
            <div class="px-8 py-4 border-b border-neutral-200 ">
              <div class="text-xl mb-2">Bernadette</div>
              <p class="text-neutral-500 text-base">
                Co-Fondatrice
              </p>
            </div>
            <div class="px-6 py-4">
              <a href="">+ Follow</a>
            </div>
          </div>

          <div class="w-72 rounded-2xl bg-white">
            <div class="h-64 w-full bg-black rounded-t-2xl"></div>
            <div class="px-8 py-4 border-b border-neutral-200 ">
              <div class="text-xl mb-2">Samantha</div>
              <p class="text-neutral-500 text-base">
                Cleaner
              </p>
            </div>
            <div class="px-6 py-4">
              <a href="">+ Follow</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
