<section class="bg-neutral-100">
  <div class="flex h-[2000px] md:h-[1200px] justify-center items-center px-3">
    <div class="space-y-14">
      <div class="space-y-6 text-center">
        <div class="flex space-x-4 justify-center">
          <img src="assets/svg/star.svg" alt="" />
          <p class="text-sm font-semibold">NOTRE TEAM</p>
        </div>
        <div class="flex space-y-4 justify-center">
          <h2 class="text-5xl max-sm:text-4xl">Rencontrez Notre Team</h2>
        </div>
      </div>

      <div class="grid justify-center space-y-10">
        <div class="space-y-10 md:space-y-0 md:space-x-10 md:flex">
          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                src="assets/images/bernard.jpg"
                class="h-full w-full object-cover object-top rounded-t-2xl"
              />
            </div>
            <div class="px-8 py-4 border-b border-neutral-200">
              <div class="text-xl mb-2">Bernard</div>
              <p class="text-neutral-500 text-base">Cleaning Supervisor</p>
            </div>
            <div class="px-8 py-4">
              <a href="">+Follow</a>
            </div>
          </div>

          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                src="assets/images/bernadette.jpg"
                class="h-full w-full object-cover object-top rounded-t-2xl"
              />
            </div>
            <div class="px-8 py-4 border-b border-neutral-200">
              <div class="text-xl mb-2">Bernadette</div>
              <p class="text-neutral-500 text-base">Cleaning Supervisor</p>
            </div>
            <div class="px-6 py-4">
              <a href="">+Follow</a>
            </div>
          </div>
        </div>

        <div class="space-y-10 md:space-y-0 md:space-x-10 md:flex">
          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                src="assets/images/james.jpg"
                class="h-full w-full object-cover object-top rounded-t-2xl"
              />
            </div>
            <div class="px-8 py-4 border-b border-neutral-200">
              <div class="text-xl mb-2">James</div>
              <p class="text-neutral-500 text-base">Cleaning Supervisor</p>
            </div>
            <div class="px-6 py-4">
              <a href="">+Follow</a>
            </div>
          </div>

          <div class="w-72 rounded-2xl bg-white" id="card">
            <div class="h-64">
              <img
                src="assets/images/aya.jpg"
                class="h-full w-full object-cover object-center rounded-t-2xl"
              />
            </div>
            <div class="px-8 py-4 border-b border-neutral-200">
              <div class="text-xl mb-2">Aya</div>
              <p class="text-neutral-500 text-base">Cleaning Supervisor</p>
            </div>
            <div class="px-6 py-4">
              <a href="">+Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
