<section>
  <div
    class="max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto h-[1600px] xl:h-[700px] flex justify-center"
  >
    <div class="space-y-14">
      <div class="space-y-6">
        <div class="flex space-x-4 justify-center">
          <img src="../../../assets/svg/star.svg" alt="" />
          <p class="text-sm">TARIFICATIONS</p>
        </div>
        <div class="flex space-y-4 justify-center">
          <h2 class="text-5xl max-lg:text-4xl">Nos Services</h2>
        </div>
        <div class="flex space-y-4 text-center justify-center">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente,
            quidem aliquam debitis aut qui impedit possimus.
          </p>
        </div>
      </div>
      <div
        class="flex space-x-4 max-lg:space-y-8 max-lg:space-x-0 max-lg:grid max-lg:grid-rows-3 max-lg:justify-center"
      >
        <div
          *ngFor="let oneServiceCategory of serviceCategory"
          class="bg-black text-white p-11 space-y-6 rounded-2xl md:w-[430px] lg:w-full sm:w-96"
        >
          <div class="flex space-x-4">
            <img src="../../../assets/svg/star-white.svg" alt="" />
            <p class="text-lg font-semibold">{{ oneServiceCategory.name }}</p>
          </div>
          <p class="text-2xl">
            À partir de
            <span class="text-5xl max-lg:text-4xl"
              >{{ oneServiceCategory.startPrice }}€</span
            >
          </p>
          <p class="text-justify">
            {{ oneServiceCategory.description }}
          </p>
          <a
            routerLink="services"
            class="p-4 text-black bg-white rounded-full transition-all shadow-md hover:shadow-white/60 flex justify-center"
            >Voir +</a
          >
        </div>
        <div class="flex-1 max-lg:hidden"></div>
      </div>
    </div>
  </div>
</section>
