<section>
  <div
    class="m-auto flex h-[1600px] max-w-screen-xl justify-center px-3 max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 xl:h-[700px]"
  >
    <div class="space-y-14">
      <div class="space-y-6">
        <div class="flex justify-center space-x-4">
          <img
            src="/assets/svg/star.svg"
            alt="Étoile"
            loading="lazy"
            width="15"
            height="20"
          />
          <p class="text-sm">TARIFICATIONS</p>
        </div>
        <div class="flex justify-center space-y-4">
          <h2 class="text-5xl max-lg:text-4xl">Nos Services</h2>
        </div>
        <div class="flex justify-center space-y-4 text-center">
          <p>
            Découvrez nos services personnalisés, conçus pour prendre soin de
            vos vêtements avec expertise et attention, afin de vous offrir une
            tranquillité d'esprit totale.
          </p>
        </div>
      </div>
      <div
        class="flex space-x-4 max-lg:grid max-lg:grid-rows-3 max-lg:justify-center max-lg:space-x-0 max-lg:space-y-8"
      >
        <div
          *ngFor="let oneServiceCategory of serviceCategory; let i = index"
          class="p-11 space-y-6 rounded-2xl md:w-[430px] lg:w-full sm:w-96 {{
            i % 2 === 0 ? 'bg-black text-white' : 'bg-neutral-100 text-black'
          }}"
        >
          <div class="flex space-x-4">
            <img
              src="/assets/svg/star{{ i % 2 === 0 ? '-white' : '' }}.svg"
              alt="Étoile"
              width="15"
              height="20"
              loading="lazy"
            />
            <p class="text-lg font-semibold">{{ oneServiceCategory.name }}</p>
          </div>
          <p class="text-2xl">
            À partir de
            <span class="text-5xl max-lg:text-4xl"
              >{{ oneServiceCategory.startPrice }}€</span
            >
          </p>
          <p class="text-justify">
            {{ oneServiceCategory.description }}
          </p>
          <a
            routerLink="services"
            class="p-4 rounded-full transition-all shadow-md flex justify-center {{
              i % 2 === 0
                ? 'bg-white text-black hover:shadow-white/60'
                : 'bg-black text-white hover:shadow-black/60'
            }}"
            >Voir +</a
          >
        </div>
        <div class="flex-1 max-lg:hidden"></div>
      </div>
    </div>
  </div>
</section>
