<section class="relative pt-36" *ngIf="user">
  <img
    src="/assets/images/noir.jpg"
    alt="cover-image"
    class="w-full absolute top-0 left-0 z-0 h-60"
  />
  <div class="w-full max-w-7xl mx-auto px-6 md:px-8">
    <div class="flex items-center justify-center relative z-10 mb-2.5">
      <img
        src="/assets/images/profile.jpg"
        alt="user-avatar-image"
        class="border-solid border-white rounded-full"
      />
    </div>
    <h3
      class="text-center font-manrope font-bold text-3xl leading-10 text-gray-900 mb-3"
    >
      {{ user.firstname }} {{ user.lastname }}
    </h3>
  </div>
</section>

<section
  class="max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm lg:px-6 px-3 m-auto py-10"
  *ngIf="hasOrders"
>
  <div class="mx-auto">
    <div class="gap-4 sm:flex sm:items-center sm:justify-between">
      <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
        Mes commandes
      </h2>
    </div>

    <div class="mt-6 flow-root sm:mt-8">
      <div class="divide-y divide-gray-200">
        <div
          class="flex flex-wrap items-center gap-y-4 py-6"
          *ngFor="let order of user.orders; let i = index"
        >
          <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
            <dt class="text-base font-medium text-gray-500">Commande ID:</dt>
            <dd class="mt-1.5 text-base font-semibold text-gray-900">
              <a href="#" class="hover:underline">#HKP-{{ order.id }}</a>
            </dd>
          </dl>

          <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
            <dt class="text-base font-medium text-gray-500">Date:</dt>
            <dd class="mt-1.5 text-base font-semibold text-gray-900">
              {{ order.date | date : "dd/MM/yyyy" }}
            </dd>
          </dl>

          <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
            <dt class="text-base font-medium text-gray-500">Prix:</dt>
            <dd class="mt-1.5 text-base font-semibold text-gray-900">
              {{ order.totalPrice | currency : "EUR" }}
            </dd>
          </dl>

          <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
            <dt class="text-base font-medium text-gray-500">État:</dt>
            <dd
              class="me-2 mt-1.5 inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800"
            >
              <svg
                class="me-1 h-3 w-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z"
                />
              </svg>
              Pre-order
            </dd>
          </dl>

          <div
            class="w-full grid sm:grid-cols-2 lg:flex lg:w-64 lg:items-center lg:justify-end gap-4"
          >
            <button
              type="button"
              class="w-full inline-flex justify-center rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 lg:w-auto"
              (click)="openModal(order.items, order.id)"
            >
              Voir détails
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<main
  class="grid place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8"
  *ngIf="!hasOrders"
>
  <div class="text-center">
    <h1
      class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
    >
      Aucune commande
    </h1>
    <p class="mt-6 text-base leading-7 text-gray-600">
      Vous n'avez pas encore de commandes enregistrées.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        routerLink="/services"
        class="rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >Retour aux services</a
      >
    </div>
  </div>
</main>

<!-- Modal for details -->
<div class="hidden" id="modal">
  <div
    class="fixed top-0 left-0 z-50 h-screen w-full overflow-y-auto bg-gray-900 bg-opacity-50 md:inset-0 md:flex md:items-center"
  ></div>
  <div class="fixed inset-0 z-50 overflow-y-auto" *ngIf="dataModal">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
      >
        <div class="absolute top-0 right-0 pt-4 pr-4 block">
          <button
            type="button"
            (click)="closeModal()"
            class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8"
          >
            <span class="sr-only">Close</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="">
          <h3 class="font-semibold text-lg leading-7 text-black">
            Commande #HKP-{{ orderId }}
          </h3>
        </div>
        <div class="flex flex-[2] w-full">
          <!-- Card -->
          <div
            class="col-span-12 xl:col-span-8 lg:pr-8 pb-8 w-full max-xl:max-w-3xl max-xl:mx-auto"
          >
            <div
              *ngFor="let item of dataModal"
              class="flex flex-col min-[500px]:flex-row min-[500px]:items-center gap-5 py-6 border-b border-gray-200 group"
            >
              <div class="w-full md:max-w-[126px]">
                <img
                  [src]="urlImage + item.picture"
                  [alt]="item.service"
                  class="mx-auto rounded-md"
                />
              </div>
              <div class="grid grid-cols-1 md:grid-cols-4 w-full">
                <div class="md:col-span-2">
                  <div class="flex flex-col max-[500px]:items-center gap-3 max-sm:text-center">
                    <h6 class="font-semibold text-base leading-7 text-black">
                      {{ item.service.name }}
                    </h6>
                    <ul>
                      <li class="font-normal text-base text-gray-500">
                        {{ item.product.name }}
                      </li>
                      <li class="font-normal text-sm text-gray-500">
                        {{ item.matter.name }}
                      </li>
                    </ul>
                    <h6
                      class="text-sm text-gray-600 transition-all duration-300"
                    >
                      {{ item.status.name }}
                    </h6>
                  </div>
                </div>
                <div
                  class="flex items-center max-[500px]:justify-center h-full max-md:mt-3 justify-center"
                >
                  <div class="flex items-center h-full">
                    {{ item.quantity }}
                  </div>
                </div>
                <div
                  class="flex items-center max-[500px]:justify-center md:justify-end max-md:mt-3 h-full"
                >
                  <p
                    class="font-bold text-lg leading-8 text-gray-600 text-center transition-all duration-300"
                  >
                    {{ item.service.price * item.quantity | currency : "EUR" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>