<section class="bg-neutral-100">
  <div
    class="max-w-screen-xl max-lg:max-w-screen-md max-md:max-w-screen-sm h-80 lg:px-6 px-3 m-auto items-center flex max-sm:grid max-sm:grid-rows-3 max-sm:justify-center max-sm:h-[600px]"
  >
    <div class="space-y-5">
      <h2 class="text-5xl">10K +</h2>
      <p class="text-neutral-500">Produits Nettoyés</p>
    </div>
    <div class="max-sm:hidden flex-1"></div>
    <div class="space-y-5">
      <h2 class="text-5xl">126 +</h2>
      <p class="text-neutral-500">Outils Professionnels</p>
    </div>
    <div class="max-sm:hidden flex-1"></div>
    <div class="space-y-5">
      <h2 class="text-5xl">99 %</h2>
      <p class="text-neutral-500">Clients Satisfaits</p>
    </div>
  </div>
</section>
